server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/music_website?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  web:
    resources:
      static-locations:
        - "classpath:/static/"
        - "file:${music.file.path}"

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: org.xioamila.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      db-type: mysql

music:
  file:
    path: /music_files/

cover:
  file:
    path: /cover_files/

jwt:
  secret: KXp4s8F3j9MwqBvT6nRcY7Vh2zLk5gPfA
  expiration: 86400000    # 24小时，单位毫秒
  header: "X-Access-Token"